body {
  font-family: Arial, sans-serif;
  background-color: white;
  padding: 2vh;
  margin: 0;
}

.masonry {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  row-gap: 10px;
  column-gap: 18px;
}

.card {
  background-color: white;
  border: none;
  border-radius: 20px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}